// css button, title, icon, elements...
img {
    max-width: 100%;
}
.button {
    background: $black-cl;
    padding: 10px 20px;
    border-radius: 2px;
    cursor: pointer;
    @include text(13px, eb, $lh-text, $white-cl, uppercase);
}

.logo {
    .logo__menu{
        height: 150px;
        width: 150px;
        background: $blue-bg-cl;
        padding: 30px 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        @include transition($t);
        z-index: 12;
        cursor: pointer;
        &-icon {
            img {
                width: 40px;
                cursor: pointer;
                display: block;
                margin: auto;
            }
        }
        &-hamburger {
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: relative;
            margin-top: 10px;
            cursor: pointer;
            span{
                width: 40px;
                height: 2px;
                background: $white-cl;
                position: relative;
                &:before {
                    content: "";
                    width: 40px;
                    height: 2px;
                    background: $white-cl;
                    position: absolute;
                    top: 10px;
                }
                &:after {
                    content: "";
                    width: 40px;
                    height: 2px;
                    background: $white-cl;
                    position: absolute;
                    top: -10px;
                }
            }
        }
        &-black {
            position: relative;
            // display: none;
            img {
                width: 0;
                margin-right: -15px;
                margin-top: -10px;
                cursor: pointer;
                display: block;
                margin: auto;
            }
            &:before {
                content: "";
                width: 0;
                height: 0;
                background: $black-cl;
                position: absolute;
                bottom: -12px;
                left: 80px;
                @include transition($t);
            }
        }
        &-hover {
            height: 0;
            p {
                font-size: 0;
            }
        }
        &:hover {
            width: 180px;
            background: $white_bg-cl;
            @include transition($t);
            .logo__menu {
                &-icon {
                    display: none;
                }
                &-hamburger {
                    display: none;
                }
                &-black {
                    display: block;
                    img {
                        width: 90px;
                        margin-right: 15px;
                    }
                    &:before {
                        height: 1px;
                        width: 80px;
                        @include transition($t);
                    }
                }
                &-hover{
                    // height: 100%;
                    p{
                        padding-left: 20px;
                        display: flex;
                        align-items: center;
                        @include text(13px, eb, $lh-text, $black-cl, uppercase);
                    }
                }
            }
        }
        @include xs {
            display: none;
        }
    }
}

.shin__logo {
    .logo {
        .logo__menu{
            height: 150px;
            width: 150px;
            background: $blue-bg-cl;
            padding: 30px 0;
            position: absolute;
            top: 260px;
            transform: translateY(-50%);
            @include transition($t);
            z-index: 12;
            cursor: pointer;
            &-icon {
                img {
                    width: 40px;
                    cursor: pointer;
                    display: block;
                    margin: auto;
                }
            }
            &-hamburger {
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                position: relative;
                margin-top: 10px;
                cursor: pointer;
                span{
                    width: 40px;
                    height: 2px;
                    background: $white-cl;
                    position: relative;
                    &:before {
                        content: "";
                        width: 40px;
                        height: 2px;
                        background: $white-cl;
                        position: absolute;
                        top: 10px;
                    }
                    &:after {
                        content: "";
                        width: 40px;
                        height: 2px;
                        background: $white-cl;
                        position: absolute;
                        top: -10px;
                    }
                }
            }
            &-black {
                position: relative;
                // display: none;
                img {
                    width: 0;
                    margin-right: -15px;
                    margin-top: -10px;
                    cursor: pointer;
                    display: block;
                    margin: auto;
                }
                &:before {
                    content: "";
                    width: 0;
                    height: 0;
                    background: $black-cl;
                    position: absolute;
                    bottom: -12px;
                    left: 80px;
                    @include transition($t);
                }
            }
            &-hover {
                height: 0;
                p {
                    font-size: 0;
                }
            }
            &:hover {
                width: 180px;
                background: $white_bg-cl;
                @include transition($t);
                .logo__menu {
                    &-icon {
                        display: none;
                    }
                    &-hamburger {
                        display: none;
                    }
                    &-black {
                        display: block;
                        img {
                            width: 90px;
                            margin-right: 15px;
                        }
                        &:before {
                            height: 1px;
                            width: 80px;
                            @include transition($t);
                        }
                    }
                    &-hover{
                        // height: 100%;
                        p{
                            padding-left: 20px;
                            display: flex;
                            align-items: center;
                            @include text(13px, eb, $lh-text, $black-cl, uppercase);
                        }
                    }
                }
            }
            @include xs {
                display: none;
            }
        }
    }
}
.contact__button {
    .btn {
        @include text(11px, AH, $lh-text, $black-cl, uppercase);
        padding: 10px 45px;
        border: 1px solid $black-cl;
        border-radius: 2px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;
        z-index: 1;
        &:hover {
            color: $white-cl;
            @include transition($t);
            background: $black-cl;
        }
    }
    @include xs {
        .btn {
            padding: 10px 16px;
        }
    }
}
.btn__service {
    @include text(11px, AH, $lh-text, $black-cl, uppercase);
        padding: 10px 45px;
        border: 1px solid $black-cl;
        border-radius: 2px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;
        z-index: 1;
        &:hover {
            color: $white-cl;
            @include transition($t);
            background: $black-cl;
        }
    }
    @include xs {
        .btn__service {
            padding: 10px 16px;
        }
    }


.btn__black {
    @include text(14px, eb, $lh-text, $white-cl, uppercase);
    border-radius: 2px;
    border: 1px solid $white-cl;
    cursor: pointer;
    padding: 5px 30px ;
    background: $black-cl;
    &:hover {
        color: $black-cl;
        @include transition($t);
        background: $white-cl;
    }
}
